ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
	margin: 0;
}
#information{
	/* height: 7.6vw; */
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: white;
    /* margin-top: -7.6vw; */
}
#logo{
	position: relative;
    top: 1.5vw;
    left: 3vw;
}
#logo img{
	width: 10%;
}
.information{
	position: relative;
    text-align: right;
    font-size: 1vw;
    padding-right: 5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(53, 52, 52);
    padding-bottom: 1.5vw;
    /* top: 1.5vw; */
}
.information li{
	display: inline;
	list-style: none;
	margin-right: 1.2vw;
}
.information a{
	font-weight: 700;
    opacity: 0.9;
}

#banner{
	/* margin-top: 7.6vw; */
    height: 40vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#banner h1{
	padding: 0;
    margin: 0;
    font-size: 1.7vw;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#banner h2{
	padding: 0;
    margin: 0;
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.banner_info{
	position: relative;
    top: 17vw;
    left: 10vw;
}

@media screen and (min-width: 1800px){
#logo img {
    width: 7%;
}
#products h1 {
	font-size: 2em;
}
}

@media screen and (max-width: 900px){
#banner {
    height: 115vw;
    background-position: 70%;
}
#logo {
    top: 2.5vw;
}
#logo img {
    width: 20%;
}
.information {
    font-size: 3vw;
    top: -1.5vw;
}
.information li {
    margin-right: 3vw;
}
.banner_info {
    top: 80vw;
    left: 5vw;
}
#banner h1 {
    font-size: 5vw;
    text-shadow: 1px 1px 2px black;
}
#banner h2 {
    font-size: 5vw;
    text-shadow: 1px 1px 2px black;
}
#products h1 {
    font-size: 5.5vw;
}

}