body{
	margin: 0;
    overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}
#products{
	
}
#products h1{
	font-size: 2.5vw;
    font-family: "Poppins";
    color: rgb(2, 0, 0);
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 4vw;
}
#loading{
	height: 30vw;
	background-color: #eff6f7;
}
.circle {
	width: 35vw;
    height: 35vw;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100vw;
    border: 1px solid #35bdb3;
    margin-left: 32.5%;
    margin-right: 32.5%;
	margin-top: 10vw;
	margin-bottom: 10vw;
}
.card{
	padding: 6.5vw;
    margin-top: 5vw;
}
.card img{
	width: 22vw;
}
.text{
	z-index: 2;
	position: absolute;
	width: 16vw;
	background-color: white;
	padding: 2vw;
}
.text1 h2, .text2 h2, .text3 h2, .text4 h2, .text5 h2{
	font-size: 1vw;
	font-family: "Poppins";
	color: rgb(8, 92, 104);
	font-weight: bold;
	margin: 0;
}
.text1 p, .text2 p, .text3 p, .text4 p, .text5 p{
	font-size: 0.8vw;
	font-family: "Poppins";
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
    line-height: 1.2vw;
}
.text1{
	margin-top: 2vw;
    margin-left: 39vw;
}
.text2{
	margin-top: 18vw;
    left: 0;
    margin-left: 16vw;
}
.text3{
	margin-top: 18vw;
    right: 0;
    margin-right: 15vw;
}
.text4{
	margin-top: 39vw;
    left: 0;
    margin-left: 22vw;
}
.text5{
	margin-top: 40vw;
    right: 0;
    margin-right: 22vw;
}



@media screen and (max-width: 900px){
}