body{
	margin: 0;
    overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}
/*
#products{
	
}
#products h1{
	font-size: 2.5vw;
    font-family: "Poppins";
    color: rgb(2, 0, 0);
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 4vw;
}
.circle {
	width: 35vw;
    height: 35vw;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100vw;
    border: 1px solid #35bdb3;
    margin-left: 32.5%;
    margin-right: 32.5%;
	margin-top: 10vw;
	margin-bottom: 10vw;
}
.card{
	padding: 6.5vw;
    margin-top: 5vw;
}
.card img{
	width: 22vw;
}
.text{
	z-index: 2;
	position: absolute;
	width: 16vw;
	background-color: white;
	padding: 2vw;
}
.text1 h2, .text2 h2, .text3 h2, .text4 h2, .text5 h2{
	font-size: 1vw;
	font-family: "Poppins";
	color: rgb(8, 92, 104);
	font-weight: bold;
	margin: 0;
}
.text1 p, .text2 p, .text3 p, .text4 p, .text5 p{
	font-size: 0.8vw;
	font-family: "Poppins";
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
    line-height: 1.2vw;
}
.text1{
	margin-top: 2vw;
    margin-left: 39vw;
}
.text2{
	margin-top: 18vw;
    left: 0;
    margin-left: 16vw;
}
.text3{
	margin-top: 18vw;
    right: 0;
    margin-right: 15vw;
}
.text4{
	margin-top: 39vw;
    left: 0;
    margin-left: 22vw;
}
.text5{
	margin-top: 40vw;
    right: 0;
    margin-right: 22vw;
}
*/

/*Progressbar*/
#loading{
	height: 30vw;
	background-color: #eff6f7;
}
#container {
	margin: 20px;
	width: 60%;
	height: 8px;
	margin-left: 20%;
	margin-right: 20%;
	position: relative;
}
.progress_bar{
	padding-top: 12vw;
	text-align: center;
	color: #2aa0c1;
	font-size: 2vw;
}
.progress_bar h4{
	font-size: 1.5vw;
	font-weight: 500;
}

/*round bar*/
.my-progress-bar {
	width: 750px;
	height: 750px;
}
#products{
	height: 1000px;
	position: relative;
}
#products h1{
	font-size: 2.5vw;
    font-family: "Poppins";
    color: rgb(2, 0, 0);
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 4vw;
	position: relative;
}
.card{
	position: absolute;
    left: 150px;
    right: 150px;
    top: 225px;
    bottom: 225px;
}
.card img{
	width: 450px;
	height: 275px;
}
.text{
	z-index: 2;
    position: absolute;
    width: 220px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.text1 h2, .text2 h2, .text3 h2, .text4 h2, .text5 h2{
	font-size: 16px;
	font-family: "Poppins";
	color: rgb(8, 92, 104);
	font-weight: bold;
	margin: 0;
}
.text1 p, .text2 p, .text3 p, .text4 p, .text5 p{
	font-size: 12px;
	font-family: "Poppins";
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
    line-height: 18px;
}
.text1{
	margin-top: -91px;
    margin-left: 169px;
}
.text2{
	margin-top: 170px;
    left: 0;
    margin-left: -168px;
}
.text3{
	margin-top: 170px;
    right: 0;
    margin-right: -172px;
}
.text4{
	margin-top: 558px;
    left: 0;
    margin-left: -76px;
}
.text5{
	margin-top: 593px;
    right: 0;
    margin-right: -33px;
}
.circular-progress-bar {
	position: relative;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}
.progress-percentage{
	display:none;
}

@media screen and (max-width: 1200px){
.container{
	zoom: 0.7;
    -moz-transform: scale(0.7);
}
#products {
    height: 700px;
    position: relative;
}
}

@media screen and (max-width: 900px){
#products {
    height: 360px;
}
.container{
	zoom: 0.3;
    -moz-transform: scale(0.3);
}
.card {
    position: absolute;
    left: 185px;
    right: 185px;
    top: 250px;
    bottom: 250px;
}
.card img {
    width: 379px;
    height: 235px;
}
.text {
    z-index: 2;
    position: absolute;
    width: 374px;
    background-color: transparent;
    padding: 0;
}
.text1 h2, .text2 h2, .text3 h2, .text4 h2, .text5 h2 {
    font-size: 35px;
}
.text1 p, .text2 p, .text3 p, .text4 p, .text5 p {
    font-size: 28px;
    line-height: unset;
}
.text1 {
    margin-left: 220px;
}
.text3 {
    margin-right: -238px;
}
.text5 {
    margin-top: 590px;
    margin-right: -121px;
}
.text4 {
    margin-top: 590px;
    left: 0;
    margin-left: -65px;
}
.progress_bar {
    padding-top: 8vw;
    font-size: 5vw;
}
#container {
    margin: 20px;
    width: 96%;
    height: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
.progressbar-text{
	margin: -9vw !important;
}
.progress_bar h4 {
    font-size: 3vw;
}

.my-progress-bar canvas{display:none;}

}